{{#unless suppliername}}
<h1 class="centeredText">Sorry, you have to log in to access this page.</h1>
{{/unless}}
{{#if suppliername}}
    <h1 class="centeredText">{{suppliername}} - Supplier Page</h1>
    {{#if message}}<h2>{{message}}</h2>{{/if}}
    <div class="supplier-container">
        <a class="surroundLink supplierButton" href="/supplier-newproduct">Add A New Product</a>
    </div>
    {{#if data}}
        <h1 class="centeredText">Products:</h1>
        <div class="supplier-container">
        {{#each data.[0]}}
            <a class="product surroundLink" href="/supplier-product?id={{productID}}">
                <p class="product-name centeredText">{{productName}}</p>
                <p class="product-description">
                    <span class="product-info">Category:</span> {{category}}
                </p>
                <p class="product-description">
                    <span class="product-info">Description:</span> {{description}}
                </p>
                <p class="product-description">
                    <span class="product-info">Available:</span> {{numAvailable}}
                </p>
                <p class="product-description">
                    <span class="product-info">Purchased:</span> {{numBought}}
                </p>
            </a>
        {{/each}}
        </div>
    {{/if}}
{{/if}}