{{#unless suppliername}}
<h1 class="centeredText">Sorry, you have to log in to access this page.</h1>
{{/unless}}
{{#if suppliername}}
    <h1 class="centeredText">{{suppliername}} - "{{productName}}" Catalog Entries</h1>
    <div class="supplier-container">
        <a class="supplierButton surroundLink" href="/supplier">Back to Supplier Page</a>
    </div>
    <div class="supplier-container">
        <div class="product-supplier">
            <div class="product-supplier-box">
                <p class="product-name centeredText">{{productName}}</p>
                <p class="product-description">
                    <span class="product-info">Category:</span> {{category}}
                </p>
                <p class="product-description">
                    <span class="product-info">Description:</span> {{description}}
                </p>
                <p class="product-description">
                    <span class="product-info">Available:</span> {{numAvailable}}
                </p>
                <p class="product-description">
                    <span class="product-info">Purchased:</span> {{numBought}}
                </p>
                <form class="catalog-form" action="/supplier-updateproduct" method="POST">
                    <input type="hidden" name="productID" value="{{productID}}">
                    Update Name: <input type="text" name="newname" maxlength="45">
                    <input type="submit">
                </form><br>
                <form class="catalog-form" action="/supplier-updateproduct" method="POST">
                    <input type="hidden" name="productID" value="{{productID}}">
                    Update Description:
                    <br><textarea type="text" name="newdescription" rows="5" cols="30"></textarea>
                    <br><input type="submit">
                </form><br>
            </div>
            {{#each catalogItems}}
            <div class="product-supplier-box">
                <p class="product-description">
                    <p class="centeredText">Catalog ID: {{catalogID}}</p>
                </p>
                <p class="product-description">
                    <span class="product-info">Entry Price:</span> ${{price}}
                </p>
                <p class="product-description">
                    <span class="product-info">Entries remaining:</span> {{numberOfEntries}}
                </p>
                <form class="catalog-form" action="/supplier-updatecatalog" method="POST">
                    <input type="hidden" name="catalogID" value="{{catalogID}}">
                    <input type="hidden" name="productID" value="{{productID}}">
                    Update number of entries:
                    <input type="number" name="numentries" max="1000" min="1" step="1">
                    <input type="submit">
                </form>
                <br>
                <form class="catalog-form" action="/supplier-deletecatalog" method="POST">
                    <input type="hidden" name="catalogID" value="{{catalogID}}">
                    <input type="hidden" name="productID" value="{{productID}}">
                    <button type="submit">Delete Catalog Entry</button>
                </form>
                {{#if notSold}}<p class="centeredText product-notsold">Entry Not Yet Available for Sale</p>{{/if}}</p>
            </div>
            {{/each}}
            <div class="product-supplier-box">
                <p class="centeredText">Add a New Catalog Entry</p>
                <form action="/supplier-newcatalog" method="POST">
                    Price:<br>
                    $<input type="number" name="newprice" step=".01" max="100000"><br>
                    Number of Entries:<br>
                    <input type="number" name="numentries" max="1000" step="1"><br>
                    <input type="hidden" name="productID" value="{{productID}}">
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
{{/if}}