<div class="product">
    <div class="product-content">
        <p class="product-name centeredText">
            {{productName}}
        </p>
        <p class="product-description">
            <span class="product-info">Category:</span> {{category}}
        </p>
        <p class="product-description">
            <span class="product-info">Supplier:</span> {{supplierName}}
        </p>
        <p class="product-description">
            <span class="product-info">Description:</span> {{description}}
        </p>
        <p class="product-description">
            <span class="product-info">Price:</span> ${{price}}
        </p>
        {{#if username}}
            <form action="/specificProduct/{{productID}}" method="POST">
                <button class="add-to-order-button" type="submit" name="Add to your orders" value="Add to your orders">Add to Cart</button>
            </form>
        {{/if}}
    </div>
</div>
