<div class="product" onclick="location.href='specificProduct/{{productID}}'">
    <div class="product-content">
        <p class="product-name centeredText">
            {{productName}}
        </p>
        <p class="product-name">
            Category: {{category}}
        </p>
        <p class="product-name">
            Supplier: {{supplierName}}
        </p>
        <p class="product-description"> Description: 
            {{description}}
        </p>
        <p class="product-price"> Price: $
            {{price}}
        </p>
    </div>
</div>
